body {
    height: 100vh;
    margin: 0;
    display: flex;
    background-color:bisque;
    flex-direction: column;
    font-family: sans-serif;
}

.section-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1F2937;
}

.left-side {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

ul {
    padding: 0;
    display: flex;
    width: 500px;
    list-style: none;
    justify-content: space-between;
}


.section-2 {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    padding: 230px;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
    height: 110px;
    width: 450px;

}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    height: 66px;
    width: 450px;
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: bolder;
    font-size: medium;
    border-radius: 8px;
    height: 40px;
    width: 130px;
    margin-top: 10px;
}

.button-1 {
    border-color: #1F2937;
}

.first-image {
    width: 900px;
    height: 350px;
    object-fit: cover;
}

.section-3 {
    background-color:aliceblue;
    padding: 16px;
}

.info-text {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    text-align: center;
    padding: 35px;
}

.container {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}


img {
    height: 180px;
    width: 150px;
}

.picture-text {
    height: 100px;
    width: 150px;
}

.section-4 {
    display: flex;
    flex-direction: column;
    background-color:#e5e7eb;
    padding: 96px;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    height: 170px;
    width: 820px;
}

.author {
    font-weight: bold;
    font-size: x-large;
    padding-left: 500px;

}

.section-5 {
    display: flex;
    background-color: aliceblue;
    color: white;
    padding: 84px;
    justify-content: center;
}

.action-text {
    display: flex;
    font-weight: bold;
}

.container-bottom {
    display: flex;
    background-color: #3882f6;
    padding: 60px;
    border-radius: 8px;
    flex-direction: column;
}

.button-2 {
    border-color: white;
    align-self: center;
    margin-left: 180px;
}

.containing-text {
    display: flex;
    background-color: #3882f6;
    width: 1000px;
    border-radius: 8px;
}

.end {
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 36px;
    justify-content: center;

}
